@using ScrabbleBlazor.Shared.Model;

<table>
    <tr>
        <td>
            <b>All users</b>
        </td>
    </tr>
    @if (Players != null)
    {
        foreach (var player in Players)
        {
            <tr>
                <td>
                    @player.Identifier
                </td>
            </tr>
        }
    }
</table>


@functions {

[Parameter] List<Player> Players { get; set; }

}
