@inherits BlazorLayoutComponent
@using ScrabbleBlazor.Shared
@using ScrabbleBlazor.Shared.Model;
@inject HttpClient Http

<h1>@Title</h1>

@if (@TableModel == null)
{
    <p><em>Loading table...</em></p>
}
else
{
    <table class="table table-bordered">
        <tbody>
            @foreach (var x in TableModel)
            {
                @for (var i = 0; i < x.Squares.Count; i++)
                {
                    var list = x.Squares[i];
                    <tr>
                        @for (var j = 0; j < list.Count; j++)
                        {
                            <td onclick="@(() => SetSelectedLetter())">@list[j].Letter</td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
    @selectedPlayerLetter
    @TableModel.FirstOrDefault().Squares.Count
}

@functions {
    [Parameter]
    string Title { get; set; }

    [Parameter]
    List<Table> TableModel { get; set; }

    [Parameter]
    Player CurrentPlayer { get; set; }

    private char selectedPlayerLetter;

    protected async Task SetSelectedLetter()
    {
        Letter letter = CurrentPlayer.GetSelectedLetter();
        selectedPlayerLetter = '6';
    }
}