@inherits BlazorLayoutComponent
@using ScrabbleBlazor.Shared
@inject HttpClient Http

<h1>@Title</h1>

@if (@TableModel == null)
{
    <p><em>Loading table...</em></p>
}
else
{
    <table class="table table-bordered">
        <tbody>
                @for (var i = 0; i < @TableModel.Squares.Count; i++)
                {
                    var list = @TableModel.Squares[i];
                    <tr>
                        @for (var j = 0; j < list.Count; j++)
                        {
                            <td>@list[i].Letter</td>
                        }
                    </tr>
                }
        </tbody>
    </table>
}

@functions {
    [Parameter]
    string Title { get; set; }

    [Parameter]
    Table TableModel { get; set; }

    // IEnumerable<Table> table = new List<Table>();

    //protected override async Task OnInitAsync()
    //{
    //    table = await Http.GetJsonAsync<List<Table>>("api/SampleData/GetScrabbleTable");
    //}
}