@using ScrabbleBlazor.Shared
@page "/fetchdata"
@inject HttpClient Http

<h1>Scrabble Game</h1>

@if (table == null)
{
    <p><em>Loading table...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var x in table)
            {
                @x.Squares.Count
                @for (var i = 0; i < x.Squares.Count; i++)
                {
                    var list = x.Squares[i];
                    <tr>
                        @for (var j = 0; j < list.Count; j++)
                        {
                            <td>@list[j].Letter</td>
                        }
                    </tr>
                }
            }

        </tbody>
    </table>
}

@functions {
    IEnumerable<Table> table = new List<Table>();

    protected override async Task OnInitAsync()
    {
        table = await Http.GetJsonAsync<List<Table>>("api/SampleData/GetScrabbleTable");
    }
}