@using ScrabbleBlazor.Shared
@page "/fetchdata"
@inject HttpClient Http

<h1>Scrabble Game</h1>

@if (tableSquares == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var x in tableSquares)
            {
                @x.Squares.Count
                @x.PlayerCount
            }
            @*@for (var i = 0; i < tableSquares.Count; i++)
        {
            <tr>
                @for (var j = 0; j < tableSquares[i].Count; j++)
                {

                    <td>@tableSquares[i][j].Letter</td>
                }
            </tr>
        }*@
        </tbody>
    </table>
}

@functions {
    IEnumerable<Table> tableSquares = new List<Table>();

    protected override async Task OnInitAsync()
    {
        tableSquares = await Http.GetJsonAsync<List<Table>>("api/SampleData/GetScrabbleTable");
    }
}