@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage
@page "/"

<h1>Hello, @CurrentUser!</h1>
<input bind=CurrentUser/> <button  title="Init player" onclick=@(() => OnPlayerInit())>Update Name</button>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@functions {
    string CurrentUser;

    protected override void OnInit()
    {
        if (Storage["SUserId"] == null)
        {
            Storage["SUserId"] = "New player" + DateTime.Now.ToShortTimeString();
        }
        CurrentUser = Storage["SUserId"];
    }

    protected void OnPlayerInit()
    {
        Storage["SUserId"] = CurrentUser;
    }
}