@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using ScrabbleBlazor.Client.Services;
@using ScrabbleBlazor.Shared.Model;
@using ScrabbleBlazor.Shared
@inject LocalStorage Storage
@inject GameState GameState
@inject HttpClient Http
@page "/"

<h1>Hello, @CurrentUser!</h1>

<input bind=CurrentUser />
<button title="Init player" onclick=@(() => OnPlayerInit())>Update Name</button>

<h2>
    @RegisteredSuccessfully
</h2>

<table>
    <tr>
        <td>
            <ScrabbleTableLayout Title="Scrabble Game" TableModel=table CurrentPlayer=player />
        </td>
        <td>
            <PlayersList Players=allPlayers />
        </td>
     </tr>
    <tr>
        <td colspan="2" >
            <RenderLetters Player="player"></RenderLetters>
        </td>
    </tr>
    


<ScrabbleTableLayout Title="Scrabble Game" TableModel=table CurrentPlayer=currentGamePlayer />
</table>

@functions {
    string CurrentUser;
    string RegisteredSuccessfully;
    Player player;
    Player currentGamePlayer;
    List<Player> allPlayers;

    Game game;

    List<Table> table = null;
    protected override void OnInit()
    {
        if (Storage["SUserId"] == null)
        {
            Storage["SUserId"] = "New player" + DateTime.Now.ToShortTimeString();
        }
        CurrentUser = Storage["SUserId"];
    }

    protected async Task OnPlayerInit()
    {
        Storage["SUserId"] = CurrentUser;

        player = await GameState.RegisterUser(CurrentUser);
        RegisteredSuccessfully = player == null ? "There are already four players registered to this game!" : "You have been successfully registered! ";

    }

    protected override async Task OnInitAsync()
    {
        List<Game> games = await Http.GetJsonAsync<List<Game>>("api/CurrentState/Get");
        game = games[0];
        currentGamePlayer = game.Players.Where(p => p.Identifier == CurrentUser).FirstOrDefault();
        allPlayers = game.Players;
        table = new List<Table>() { game.Table };
    }
}
