@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using ScrabbleBlazor.Client.Services;
@using ScrabbleBlazor.Shared.Model;
@using ScrabbleBlazor.Shared
@inject LocalStorage Storage
@inject GameState GameState
@inject HttpClient Http
@page "/"

<h1>Hello, @CurrentUser!</h1>

<input bind=CurrentUser />
<button title="Init player" onclick=@(() => OnPlayerInit())>Update Name</button>

<h2>
    @RegisteredSuccessfully
</h2>

<table>
    <tr>
        <td><ScrabbleTableLayout Title="Scrabble Game" TableModel=table /></td>
        <td><PlayersList Players="AllPlayers"></PlayersList></td>
    </tr>
    <tr>
        <td colspan="2">
            <RenderLetters Player="player"></RenderLetters>
        </td>
    </tr>
</table>
    

    @functions {
                string CurrentUser;
                string RegisteredSuccessfully;
                Player player;
                List<Player> AllPlayers;// = new List<Player> { new Player { Identifier = "User1" }, new Player { Identifier = "User2" } };

        Game game;

        List<Table> table = null;

        protected override void OnInit()
        {
            if (Storage["SUserId"] == null)
            {
                Storage["SUserId"] = "New player" + DateTime.Now.ToShortTimeString();
            }
            CurrentUser = Storage["SUserId"];
        }

        protected async Task OnPlayerInit()
        {
            Storage["SUserId"] = CurrentUser;

            player = await GameState.RegisterUser(CurrentUser);
            RegisteredSuccessfully = player == null ? "There are already four players registered to this game!" : "You have been successfully registered! ";

        }

        protected override async Task OnInitAsync()
        {
            List<Game> games = await Http.GetJsonAsync<List<Game>>("api/CurrentState/Get");
            game = games[0];
            table = new List<Table>() { game.Table };
            AllPlayers = game.Players;
        }
}
