@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@using ScrabbleBlazor.Client.Services;
@using ScrabbleBlazor.Shared.Model;
@inject LocalStorage Storage
@inject GameState GameState
@page "/"



<h1>Hello, @CurrentUser!</h1>
<input bind=CurrentUser />
<button title="Init player" onclick=@(() => OnPlayerInit())>Update Name</button>


<h2>
    @RegisteredSuccessfully 
</h2>


        <RenderLetters Player="player"></RenderLetters>    
    

    @functions {
    string CurrentUser;
    string RegisteredSuccessfully;
    Player player;


    protected override void OnInit()
    {
        if (Storage["SUserId"] == null)
        {
            Storage["SUserId"] = "New player" + DateTime.Now.ToShortTimeString();
        }
        CurrentUser = Storage["SUserId"];
    }

    protected async Task OnPlayerInit()
    {
        Storage["SUserId"] = CurrentUser;

        player = await GameState.RegisterUser(CurrentUser);
        RegisteredSuccessfully = player == null ? "There are already four players registered to this game!" : "You have been successfully registered! ";


    }
    }
